:root {
    --bg-color: #F5F5F5;
    --color-blue: #47abd7;
    --color-light-blue: #aee7ff;
    --color-light-grey: #c1c1c1;
    --color-dark-gray: #212121;
    --color-crimson: #ff26b5;
    --color-white: #ffffff;
    --color-text: #000000;
    --color-white-text: #ffffff;
    --h1-size: 22px;
    --h2-size: 28px;
    --h3-size: 20px;
    --text-size: 16px;
    --h1-font: "Arial Black";
    --h2-font: "Arial Black";
    --breadcrumbs-font: "Arial Black";  
    --text-font: "Arial";
}