.templates.website-url:hover + .preview-box-inside__content-container.website-url {
    margin-bottom: 0;
}
.templates.wi-fi:hover + .preview-box-inside__content-container.website-url {
    margin-bottom: -167%;
}
.templates.vcard:hover + .preview-box-inside__content-container.website-url {
    margin-bottom: -334%;
}
